.bounceBox{
 height: 40px;	
 overflow: hidden;
 position: relative;
}
.bounce{
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(50%);
 -webkit-transform:translateY(50%);	
 transform:translateY(50%);
 /* Apply animation to this element */	
 -moz-animation: bounceBox 1s linear infinite alternate;
 -webkit-animation: bounceBox 1s linear infinite alternate;
 animation: bounceBox 1s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes bounceBox {
 0%   { -moz-transform: translateY(50%); }
 100% { -moz-transform: translateY(-50%); }
}
@-webkit-keyframes bounceBox {
 0%   { -webkit-transform: translateY(50%); }
 100% { -webkit-transform: translateY(-50%); }
}
@keyframes bounceBox {
 0%   { 
 -moz-transform: translateY(50%); /* Browser bug fix */
 -webkit-transform: translateY(50%); /* Browser bug fix */
 transform: translateY(50%); 		
 }
 100% { 
 -moz-transform: translateY(-50%); /* Browser bug fix */
 -webkit-transform: translateY(-50%); /* Browser bug fix */
 transform: translateY(-50%); 
 }
}

.displayBox{
width : 90%;
margin: auto;
display : grid;
grid-template-columns : repeat(auto-fit, minmax(300px,max-content));
justify-content : center;
grid-gap : 10px;
font-size : 15px
}
.card{
    border: 1px solid white;
    height: 150px;
    width: 250px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.card .headingCard{
    padding-top: 1.1rem;
    color: #1E3A8A;
}